@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,300;0,400;0,700;1,400&family=Roboto+Slab:wght@300;400;700&display=swap');

:root {
  --bubble-gum-pink: #ff5ab7;
  --black: #1e1e1e;
  --pinkish-grey: #c7c7c7;
  --very-light-pink: #c4c4c4;
  --pale-grey: #f5f6fa;
  --medium-blue: #307bbe;
  --white: #fafafa;
  --white-two: #fff;
  --azure: #0290ff;
  --black-5: rgba(0, 0, 0, 0.3);
}

.body {
  box-sizing: border-box;
}

.Text-Style {
  font-family: RobotoSlab, sans-serif;
  font-size: 0.813rem;
  font-weight: bold;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: 0.5px;
  text-align: center;
  color: var(--white-two);
}

.Text-Style-2 {
  font-family: Montserrat, sans-serif;
  font-size: 0.875rem;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: normal;
  color: #121212;
}

.Text-Style-3 {
  font-family: Montserrat, sans-serif;
  font-size: 1.875rem;
  font-weight: bold;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: normal;
  color: var(--azure);
}

.Text-Style-4 {
  font-family: RobotoSlab, sans-serif;
  font-size: 1rem;
  font-weight: 300;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: -0.4px;
  color: #121212;
}

.Text-Style-5 {
  font-family: RobotoSlab, sans-serif;
  font-size: 1.375rem;
  font-weight: bold;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: -0.2px;
  color: #121212;
}

.Text-Style-6 {
  font-family: Montserrat, sans-serif;
  font-size: 0.813rem;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: 1.9px;
  color: #121212;
}

.Text-Style-7 {
  font-family: RobotoSlab, sans-serif;
  font-size: 0.813rem;
  font-weight: 300;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: normal;
  color: #121212;
}

.Text-Style-8 {
  font-family: RobotoSlab, sans-serif;
  font-size: 0.875rem;
  font-weight: 300;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: normal;
  color: #4386bf;
}

.Text-Style-10 {
  font-family: Montserrat, sans-serif;
  font-size: 1.25rem;
  font-weight: bold;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: -0.18px;
  color: #888;
}

.Text-Style-11 {
  font-family: Montserrat, sans-serif;
  font-size: 0.8rem;
  font-weight: bold;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: -0.18px;
  color: #888;
}

/* zeplin styles */
.panel-app {
  margin: 0 auto;
  width: 87vw;
  height: 87vh;
  border-radius: 4px;
  box-shadow: 30px 0 60px 0 var(--black-5);
  background-color: var(--white);
  overflow: auto;
  scroll-behavior: smooth;
}

.panel-bg {
  display: flex;
  align-items: center;
  height: 2.6rem;
  margin: 0;
  padding: 1.438rem 6.188rem 1.688rem 6.25rem;
  background-color: var(--white-two);
  border-bottom: solid 1px #e8e8e8;
}

.nav-header {
  width: 30%;
}

.Bookstore-CMS {
  height: 2.313rem;
  font-family: Montserrat, sans-serif;
  font-size: 1.875rem;
  font-weight: bold;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: normal;
  color: var(--azure);
  cursor: pointer;
}

.nav-menu-and-user {
  width: 70%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.nav-menu {
  display: flex;
  list-style: none;
  padding: 1.125rem;
}

.oval {
  display: flex;
  width: 2.813rem;
  height: 2.813rem;
  border: solid 1px #e8e8e8;
  border-radius: 50%;
  background-color: var(--white);
  cursor: pointer;
}

.user-icon {
  margin: auto;
  width: 1.68rem;
  height: 1.68rem;
  color: var(--azure);
}

.bookList {
  display: flex;
  flex-direction: column;
  gap: 10px;
  padding: 1rem 70px 0 70px;
}

.bookItem {
  display: flex;
  height: 10rem;
  align-items: center;
  justify-content: space-between;
  padding: 1.6rem;
  border: 1px solid #e8e8e8;
  border-radius: 5px;
  margin-bottom: 1.2rem;
  background-color: var(--white-two);
  overflow: hidden;
  flex-wrap: wrap;
}

.bookItem-left {
  display: flex;
  flex-direction: column;
}

.bookItem-middle {
  display: flex;
  align-items: center;
  padding-right: 1rem;
  border-right: var(--very-light-pink) 1px solid;
}

.bookItem-right {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding-left: 1rem;
  padding-right: 4rem;
}

.percent-cnt {
  text-align: center;
  padding-left: 1rem;
}

.percent-number {
  font-size: 2rem;
}

.removeBtn {
  background-color: #e0e2e7;
  border: none;
  border-radius: 5px;
  padding: 5px;
  cursor: pointer;
}

.BOOKS {
  width: 3.688rem;
  height: 1rem;
  margin: 1.125rem 1.125rem 0.688rem 0;
  font-family: Montserrat, sans-serif;
  font-size: 0.813rem;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: 1.9px;
  color: #121212;
  text-decoration: none;
}

.CATEGORIES {
  width: 6.563rem;
  height: 1rem;
  margin: 1.125rem 1.125rem 0.688rem 2.563rem;
  opacity: 0.5;
  font-family: Montserrat, sans-serif;
  font-size: 0.813rem;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: 1.9px;
  color: #121212;
  text-decoration: none;
}

.categorie {
  padding-bottom: 0.5rem;
}

.author {
  padding-bottom: 1.5rem;
}

.btn-container-book {
  display: flex;
  justify-content: space-between;
}

.btn-book-item {
  position: relative;
  width: 5rem;
  height: 1.5rem;
  font-family: RobotoSlab, sans-serif;
  font-size: 1rem;
  font-weight: 300;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  color: #4386bf;
  border: none;
  background-color: transparent;
  cursor: pointer;
  transition: color 0.3s, transform 0.3s;
}

.btn-book-item::before {
  content: '';
  position: absolute;
  top: 100%;
  left: 10%;
  width: 0;
  height: 1px;
  background-color: var(--azure);
  transition: width 0.3s;
}

.btn-container-book .btn-book-item::after {
  content: '';
  position: absolute;
  width: 0;
  height: 100%;
  border: #e8e8e8 1px solid;
  top: 0;
  right: 0;
}

.btn-container-book .btn-book-item:last-child::after {
  display: none;
}

.btn-book-item:hover {
  color: var(--azure);
}

.btn-container-book .btn-book-item:first-child {
  padding-left: 0;
}

.btn-book-item:hover::before {
  width: 80%;
}

.progress-circle {
  position: relative;
  width: 80px;
  height: 80px;
  border-radius: 50%;
  background-color: lightgray;
  overflow: hidden;
}

.progress-circle::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border-radius: 50%;
  background: linear-gradient(to left, var(--azure) 70%, lightgray 0);
  transform-origin: left center;
  transform: rotate(calc(360deg * var(--percent) / 100));
  transition: transform 1.5s;
}

.progress-circle::after {
  content: '';
  position: absolute;
  top: 8%;
  left: 8%;

  /* transform: translate(-50%, -50%); */
  width: 84%;
  height: 84%;
  border-radius: 50%;
  background: var(--white-two);
  transform-origin: left center;
  transform: rotate(calc(360deg * var(--percent) / 100));
}

.progress-circle[data-percent="15"]::before {
  transform: rotate(360deg);
}

.current-chapter {
  padding: 0.5rem 0;
  text-transform: uppercase;
}

.chapter {
  padding: 0 0 1rem 0;
}

.form-title {
  height: 1.5rem;
  font-family: Montserrat, sans-serif;
  font-size: 1.25rem;
  font-weight: bold;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: -0.18px;
  color: #888;
}

.add-book-form {
  padding: 0 70px 40px 70px;
}

.bookForm {
  display: flex;
  flex-direction: column;
  padding: 20px;
  border-top: 1px solid #e8e8e8;
}

.bookForm-fields {
  display: flex;
  flex-direction: row;
  gap: 10px;
  border-radius: 4px;
  justify-content: space-between;
}

.rectangle-1 {
  width: 11.5rem;
  height: 2.4rem;
  border: none;
  border-radius: 3px;
  background-color: #0290ff;
}

.rectangle-2 {
  width: 11.5rem;
  height: 2.813rem;
  border: none;
  border-radius: 3px;
  background-color: #0290ff;
}

.new-book-inputs {
  padding: 0.813rem;
  border-radius: 4px;
  border: solid 1px #e8e8e8;
  background-color: var(--white-two);
}

.input-title {
  width: 48%;
}

.input-author {
  width: 20%;
}

.input-btn {
  width: 17%;
}
